{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Header -->
        {% include 'vtc/header.html' %}
        <!-- Sidebar -->
        {% include 'vtc/sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Bienvenido <small>{{ request.user.get_full_name }}</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- Block javascript -->
    {% block javascript %}

    {% endblock %}
    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}<br>';
            {% endfor %}
            html += '</p>';
            Swal.fire({
                title: 'Error!',
                html: html,
                icon: 'error'
            });
        {% endif %}
    </script>

    
<script>
    var select_equipo = $('select[name="equipo"]');
    $(function () {
        $('.select2').select2({
            theme: "bootstrap4",
            language: 'es'
        });

        $('select[name="exportadora"]').on('change', function () {
            var id = $(this).val();

            var options = '<option value="">-- Vacio --</option>';
            if (id === '') {
                select_transporte.html(options);
                return false;
            }
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_transporte_id',
                    'id': id
                },
                dataType: 'json',
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    select_transporte.html('').select2({
                        theme: "bootstrap4",
                        language: 'es',
                        data: data
                    });
                    /*$.each(data, function (key, value) {
                        options += '<option value="' + value.id + '">' + value.name + '</option>';
                    });*/
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                //select_transporte.html(options);
            });
        });

        select_transporte.on('change', function () {
            var value = select_transporte.select2('data')[0];
            console.log(value);
        });
    });
</script>
<script>
    var select_productor = $('select[name="productor"]');

    $(function () {
        $('.select2').select2({
            theme: "bootstrap4",
            language: 'es'
        });

        $('select[name="exportadora"]').on('change', function () {
            var id = $(this).val();

            var options = '<option value="">-- Vacio --</option>';
            if (id === '') {
                select_productor.html(options);
                return false;
            }
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_productor_id',
                    'id': id
                },
                dataType: 'json',
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    select_productor.html('').select2({
                        theme: "bootstrap4",
                        language: 'es',
                        data: data
                    });
                    /*$.each(data, function (key, value) {
                        options += '<option value="' + value.id + '">' + value.name + '</option>';
                    });*/
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                //select_productor.html(options);
            });
        });

        select_productor.on('change', function () {
            var value = select_productor.select2('data')[0];
            console.log(value);
        });
    });
</script>
<script>
    var select_variedad = $('select[name="variedad"]');
    $(function () {
        $('.select2').select2({
            theme: "bootstrap4",
            language: 'es'
        });

        $('select[name="especie"]').on('change', function () {
            var id = $(this).val();

            var options = '<option value="">-- Vacio --</option>';
            if (id === '') {
                select_variedad.html(options);
                return false;
            }
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_variedad_id',
                    'id': id
                },
                dataType: 'json',
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    select_variedad.html('').select2({
                        theme: "bootstrap4",
                        language: 'es',
                        data: data
                    });
                    /*$.each(data, function (key, value) {
                        options += '<option value="' + value.id + '">' + value.name + '</option>';
                    });*/
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                //select_variedad.html(options);
            });
        });

        select_variedad.on('change', function () {
            var value = select_variedad.select2('data')[0];
            console.log(value);
        });
    });
</script>

    </body>
{% endblock %}
