{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-1">
    <a href="{% url 'dashboard' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-bold" style="color:rgb(245, 84, 35) ; font-size: 18px; "><b style="color: rgba(7, 170, 21, 0.644);">Green</b> Pack
            Services</span>
    </a>
   
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">            
            <div class="info">
                <a  style="color:rgb(29, 35, 54) ; font-size: 16px; margin-left: 33px;" >{{ request.user.get_short_name }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Mantenedores</b> </li>
                
                <li class="nav-item">
                    <a href="{% url 'transporte_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Transportes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'exportadora_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Exportadoras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'especie_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-apple-alt"></i>
                        <p>
                            Especies
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'variedad_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-shapes"></i>
                        <p>
                            Variedades
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'productor_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-seedling"></i>
                        <p>
                            Productores
                        </p>
                    </a>
                </li> 
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Usuarios</b> </li>   
               
                <li class="nav-item">
                    <a href="{% url 'user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_users_list' %}" class="nav-link">
                        <i class="fas fa-user-clock"></i>
                        <p>
                            Control de Accesos
                        </p>
                    </a>
                </li>              
                
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Reportes</b> </li>                
               
                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reporte de Recepciones
                        </p>
                    </a>
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reporte de Producciones
                        </p>
                    </a>
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reporte de Despachos
                        </p>
                    </a>
                </li>               
                
            </ul>
        </nav>
    </div>

 
</aside>