{% load static %}

<!-- third party css -->
<link href="{% static 'css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
<!-- third party css end -->
<!-- App css -->
<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
<!-- third party css -->
<link href="{% static 'css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/buttons.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/select.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/fixedHeader.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/fixedColumns.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<!-- third party css end -->
<aside class="main-sidebar sidebar-light-primary elevation-1">
    <a href="{% url 'dashboard' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-bold" style="color:rgb(245, 84, 35) ; font-size: 18px;  margin-left: -10px;"><b style="color: rgba(7, 170, 21, 0.644);">Green</b> Pack
            Services</span>
    </a>
    
    
   
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">            
            <div class="info">
                <a  style="color:rgb(29, 35, 54) ; font-size: 16px; margin-left: 33px;" >{{ request.user.get_short_name }}</a>
            </div>
        </div>
        
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Mantenedores</b> </li>
                
                <li class="nav-item">
                    <a href="{% url 'transporte_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Transportes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'exportadora_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Exportadoras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'especie_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-apple-alt"></i>
                        <p>
                            Especies
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'variedad_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-shapes"></i>
                        <p>
                            Variedades
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'productor_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-seedling"></i>
                        <p>
                            Productores
                        </p>
                    </a>
                </li> 
            </ul>
        </nav>
        
        

        {% if request.user.is_staff %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Usuarios</b> </li>   
               
                <li class="nav-item">
                    <a href="{% url 'user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_users_list' %}" class="nav-link">
                        <i class="fas fa-user-clock"></i> &nbsp;&nbsp;<p>Control de Accesos</p>
                    </a>
                </li>              
                
            </ul>
        </nav>
        {% endif %}
        {% if request.user.is_staff %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Reportes</b> </li>                
               
                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Reporte de Recepciones
                        </p>
                    </a>
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Reporte de Producciones
                        </p>
                    </a>
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reporte de Despachos
                        </p>
                    </a>
                </li>               
                
            </ul>
        </nav>
        {% endif %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Todo Cerezas</b> </li>                
               
                <li class="nav-item">
                    <a href="{% url 'read_cerezas' %}" class="nav-link">
                        <i class="nav-icon 	fas fa-list"></i>
                        <p>
                            Listado Recepción
                        </p>
                    </a>
                    <a href="{% url 'create_cerezas' %}" class="nav-link">
                        <i class="nav-icon fab fa-wpforms"></i>
                        <p>
                            Formulario Recepción
                        </p>
                    </a>
                    
                </li>               
                
            </ul>
        </nav>
    </div>
    
 
</aside>