{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'productor/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 5%;">Código</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 10%;">CSG</th>
    <th scope="col" style="width: 20%;">Dirección</th>
    <th scope="col" style="width: 10%;">Teléfono</th>
    <th scope="col" style="width: 20%;">Email</th>
    <th scope="col" style="width: 10%;">Opciones</th>

</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}