{% extends 'list-cereza.html' %}
{% load static %}


{% block content %}

<!-- Start Content-->
<div class="container-fluid">


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <a class="btn btn-secondary  mb-2 me-2" href="{% url 'create_cerezas' %}"
                                style="background-color: #007bff;" target="_blank"><i class="fas fa-plus"></i>
                                Agregar Registro
                            </a>
                            &nbsp; &nbsp; &nbsp;
                            <!-- <a href="{% url 'create_cerezas' %}" class="btn btn-primary mb-2"><i
                                    class="mdi mdi-plus-circle me-2"></i> Ver Informes </a> -->

                            <a class="btn btn-secondary  mb-2 me-2" href="{% url 'pdf-list-cereza' %}"
                                style="background-color: #F40F02;" target="_blank"><i class="far fa-file-pdf "></i>
                                Exportar PDF
                            </a>
                            &nbsp; &nbsp; &nbsp;
                            <a class="btn btn-secondary  mb-2 me-2" href="{% url 'pdf-list-cereza' %}"
                                style="background-color: #1D6F42;" target="_blank"><i class="fas fa-file-excel "></i>
                                Exportar Excel
                            </a>
                        </div>


                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="btn-close btn-close-white " data-bs-dismiss="alert"
                            aria-label="Close bg-primary"></button>
                        <i class="dripicons-checkmark me-2 "></i><strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="table-responsive">
                        <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>
                                    <th class="all" width="10">Lote</th>
                                    <th scope="col" width="15%">Exportadora</th>
                                    <th scope="col" width="10">N° de Guia</th>
                                    <th scope="col" width="10">Fecha de Recepción</th>
                                    <th scope="col" width="10">Hora de Recepción</th>
                                    <th scope="col" width="10">PreCalibre</th>
                                    <th scope="col" width="10">% Def Calidad</th>
                                    <th scope="col" width="10">% Def Condición</th>
                                    <th scope="col" width="10%">% Exportable</th>
                                    <th style="width: 5%;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for registro in registros %}
                                <tr>
                                    <td>{{registro.Lote}}</td>
                                    <td>{{registro.Exportadora}}</td>
                                    <td>{{registro.Nguia}}</td>
                                    <td>{{registro.Fecha_Recepcion}}</td>
                                    <td>{{registro.Hora_Recepcion}}</td>
                                    <td>{{registro.PrecalibreTot}}</td>
                                    <td>{{registro.CalidadTotal}}</td>
                                    <td>{{registro.CondicionTotal}}</td>
                                    <td style="background-color: #007bff; color: rgb(255, 255, 255);">
                                        <b>{{registro.TotalExportable}}</b>
                                    </td>
                                    <td>
                                        <a class="action-icon" href="">
                                            <i class="fas fa-eye" style="font-size:16px;color:#007bff"></i> </a>

                                        <a class="action-icon" href="{% url 'report-lote-cereza' registro.Lote %}"
                                            target="_blank">
                                            <i class="far fa-file-pdf" style="font-size:16px;color:#d3131d"></i></a>

                                        <a class="action-icon" href="{% url 'update_form_cereza' registro.Lote %}">
                                            <i class="far fa-edit" style="font-size:16px;color:#000000"></i></a>

                                        <a class="action-icon" href="{% url 'delete_form_cereza' registro.Lote %}">
                                            <i class="far fa-trash-alt"
                                                style="font-size:16px;color:#d3131d"></i></i></a>


                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->



{% endblock %}